[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT Desktop
Comment=ChatGPT by OpenAI
TryExec=chatgpt
Exec=chatgpt %U
Icon=chatgpt
Terminal=false
StartupNotify=true
Categories=Utility;Development;
Keywords=chatgpt;openai;assistant;ai;
MimeType=x-scheme-handler/codex;
