[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Browse the Web
Exec=/home/zacmero/.config/archmeros/scripts/archmeros-firefox.sh %U
Icon=firefox
Terminal=false
StartupNotify=true
StartupWMClass=firefox
DBusActivatable=false
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=application/pdf;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;open-profile-manager;

[Desktop Action new-window]
Name=New Window
Exec=/home/zacmero/.config/archmeros/scripts/archmeros-firefox.sh --new-window %U

[Desktop Action new-private-window]
Name=New Private Window
Exec=/home/zacmero/.config/archmeros/scripts/archmeros-firefox.sh --private-window %U

[Desktop Action open-profile-manager]
Name=Open Profile Manager
Exec=/home/zacmero/.config/archmeros/scripts/archmeros-firefox.sh --ProfileManager
