[Desktop Entry]
Version=1.0
Type=Application
Name=qBittorrent
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Exec=qbittorrent %U
Terminal=false
StartupNotify=false
Categories=Network;FileTransfer;P2P;Qt;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Icon=qbittorrent
StartupWMClass=qbittorrent
