[Desktop Entry]
Name=WezTerm
Comment=Wez's Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=org.wezfurlong.wezterm
StartupWMClass=org.wezfurlong.wezterm
TryExec=/usr/bin/wezterm
Exec=/usr/bin/wezterm start --always-new-process --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
