[Desktop Entry]
Version=1.0
Type=Application
Name=Thunar File Manager
Comment=Browse the file system with the file manager
Exec=/home/zacmero/.config/archmeros/scripts/archmeros-thunar.sh %U
Icon=org.xfce.thunar
Terminal=false
StartupNotify=true
Categories=System;Utility;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;
