[Desktop Entry]
Version=1.0
Type=Application
Name=Todoist
Comment=Task manager
Exec=/home/zacmero/.config/archmeros/scripts/archmeros-todoist.sh %U
Icon=todoist
Terminal=false
StartupNotify=true
Categories=Office;Utility;
Keywords=todo;tasks;productivity;
StartupWMClass=com.todoist.Todoist
