[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube Music
Comment=YouTube Music Firefox app shell
Exec=/home/zacmero/.config/archmeros/scripts/archmeros-youtube-music.sh
Icon=multimedia-player
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Player;
Keywords=music;youtube;player;streaming;
StartupWMClass=firefox
